<!DOCTYPE CSS>
<CSS>

h1{
  border-style:solid;
  border-width:1px;
  padding: 50px;
  font-style:italic;
  font-family: serif;
  text-align: center;
  margin: 100px;
}

body{
    background-color: whitesmoke;
    }

.img{
    opacity: 0.5;
}

p{
border-style:solid;
border-width:1px;
padding: 50px;
font-style:italic;
font-family: serif;
text-align: center;
margin: 100px;
}

#qualitiesbutton: hover{
    opacity: 0.5;
}

#qualitiesbutton:active {
    background-color: darkgray;
    box-shadow: 0 5px #667;
    transform: translateY(4px);
}

#qualitiesbutton {
background-color: gainsboro;
border: 30px solid;
border-radius: 30px;
box-shadow: 0 9px #999;
padding: 10px 15px;
color: dimgray;
font-size: 20px;
text-align: left;
border-radius: 12px;
cursor: pointer;
box-shadow: 0 9px #999;
width: 10%;
box-shadow: 0 12px 16px;
border: 2px darkgray solid;
font-family: serif;
    } 

#storybutton: hover{
    opacity: 0.5;
}

#storybutton:active {
    background-color: darkgray;
    box-shadow: 0 5px #667;
    transform: translateY(4px);
}

#storybutton {
background-color: gainsboro;
border: 30px solid;
border-radius: 30px;
box-shadow: 0 9px #999;
padding: 10px 15px;
color: dimgray;
font-size: 20px;
text-align: left;
border-radius: 12px;
cursor: pointer;
box-shadow: 0 9px #999;
width: 10%;
box-shadow: 0 12px 16px;
border: 2px solid darkgray;
font-family: serif;
    } 

#favoritesbutton: hover{
    opacity: 0.5;
}

#favoritesbutton:active {
    background-color: darkgray;
    box-shadow: 0 5px #667;
    transform: translateY(4px);
}

#favoritesbutton {
background-color: gainsboro;
border: 30px solid;
border-radius: 30px;
box-shadow: 0 9px #999;
padding: 10px 15px;
color: dimgray;
font-size: 20px;
text-align: left;
border-radius: 12px;
cursor: pointer;
box-shadow: 0 9px #999;
width: 10%;
box-shadow: 0 12px 16px;
border: 2px darkgray solid;
font-family: serif;
    } 

#fearsbutton: hover{
    opacity: 0.5;
}

#fearsbutton:active {
    background-color: darkgray;
    box-shadow: 0 5px #667;
    transform: translateY(4px);
}

#fearsbutton {
background-color: gainsboro;
border: 30px solid;
border-radius: 30px;
box-shadow: 0 9px #999;
padding: 10px 15px;
color: dimgray;
font-size: 20px;
text-align: left;
border-radius: 12px;
cursor: pointer;
box-shadow: 0 9px #999;
width: 10%;
box-shadow: 0 12px 16px;
border: 2px darkgray solid;
font-family: serif;        
}


